header {

   background-image:url(img/pattern.png) ;

   background-color: rgb(84, 148, 243);

   background-size: 35%;

   height: 90px;
}

.firstline{

    color: darkgray;

}

#description{

    font-size: 10px;
}

#logo{

    width: 120px;

    margin-top: 55px;
   
}

thead{

background-color: cornflowerblue;

color: aliceblue;

}


#monitor{

    width: 200px;
}

#graphic{

    width: 200px;
}


.Lorem{

    background-color: rgb(160, 187, 237);
}


#info{

    color: darkgrey;
}

.img-monitor{

    background-image: url(img/monitor.jpg);

    background-repeat: no-repeat;

    height: 200px;

    width: 300px;
}

#monitor{

    color: aliceblue;

    font-size: 145%;

    margin: 10px;
}

.img-graphic{

    background-image: url(img/graph.jpg);

    background-repeat: no-repeat;

    height: 200px;

    width: 300px;
}

#graph{

    color: aliceblue;

    font-size: 145%;

    margin: 10px;
}

table{

    border-collapse: collapse;
}

body{

    margin: 0;
}