header {

   background-image:url(img/pattern.png) ;

   background-color: rgb(84, 148, 243);

   background-size: 35%;

   height: 90px;
}

#logo{

    width: 120px;

    margin-top: 55px;
   
}

thead{

background-color: cornflowerblue;

color: aliceblue;

}


#monitor{

    width: 200px;
}

#graphic{

    width: 200px;
}

